<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block head_css %}
          <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        {% endblock %}
        {% block head_js %}
          <script src="{{ asset('/js/jquery-3.3.1.slim.min.js') }}"></script>
          <script src="{{ asset('/js/popper.min.js') }}"></script>
          <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="/">E-Health App</a>
          <button class="navbar-toggler" type="button"
                  data-toggle="collapse" data-target="#navbarsExampleDefault"
                  aria-controls="navbarsExampleDefault" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
             <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
               <!-- <li class="nav-item active">
                 <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li> -->
               {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                 <li class="nav-item">
                   <a class="nav-link" href="/profile">Profile</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="/logout">Logout</a>
                 </li>
               {% else %}
                 <li class="nav-item">
                   <a class="nav-link" href="/login">Login</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="/register">Register</a>
                 </li>
               {% endif %}
             </ul>
             <!-- <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form> -->
           </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
