{% extends 'base.html.twig' %}

{% block body %}
        <div class="text-center">
            <div>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
              <a class="h3 mb-3 font-weight-normal" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
              </a>
              {% else %}
              <a class="h3 mb-3 font-weight-normal" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
              {% endif %}
            </div>

            {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
            <div class="flash-{{ type }}">
              {{ message }}
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}

            <div>
              {% block fos_user_content %}
              {% endblock fos_user_content %}
            </div>
        </div>
{% endblock body %}
{% block stylesheets %}
  <style>
    body {
      padding-top: 5rem;
    }

    .text-center {
      width: 430px;
      margin: auto;
    }


    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
{% endblock %}
